#container {
  display: flex;
  justify-content: space-between;
}

#listMain {
  display: flex;
  flex-direction: column-reverse;
}

#infoUndLogoContainer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  #container {
    flex-direction: column;
  }
  h1{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  h1{
    /* display: none klappt irgendwie nicht */
    visibility: hidden;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
}