form input:invalid, form textarea:invalid, form select:invalid {
  border-bottom-color: red;
}

form input:valid, form textarea:valid, form select:valid {
  border-bottom-color: blue;
}

form .requiredFields::after{
  content: " (Erforderliches Feld)";
}

form button[type="submit"]{
  border-radius: 20px;
  background-color: lime;
}

form legend{
  border-top: 2px solid black; 
  border-bottom: 2px solid black;
  background-color: antiquewhite;
  border-radius: 4px;
}

form fieldset{
  margin-top: 1rem;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

form input:not([required]):not([type="submit"]):not([type="date"]),
form textarea:not([required]) {
  border: none;
  border-bottom: 1px solid black;
}

form input[required]:not([type="submit"]),
form textarea[required] {
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}