<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/forms.css" />
    <link rel="stylesheet" href="css/grid.css" />
    <script src="js/form.js"></script>
    <script src="js/burgermenu.js"></script>
  </head>
  <body>
    <%- include('kopfbereich') %>
    <div id="container">
      <main>
        <form
          method="POST"
          name="language"
          action="/form"
        >
          <fieldset>
            <legend>Tutorialinformationen</legend>
            <label>Titel</label>
            <span class="requiredFields"
              ><input
                type="text"
                name="name"
                pattern="^[A-Z][a-zA-Z]{3,19}$"
                placeholder="Titel"
                required
            /></span>
            <br />
            <label for="language">Sprache:</label>
            <select name="language" id="language">
              <option value="">-</option>
              <option value="de">Deutsch</option>
              <option value="en">Englisch</option>
              <option value="es">Spanisch</option>
              <option value="fr">Französisch</option>
            </select>
            <br />
            <label for="categories">Kategorie(n):</label>
            <span class="requiredFields"
              ><input
                type="text"
                id="categories"
                name="categories"
                pattern="[^,]+(,[^,]+)*"
                required
                placeholder="Kategorien"
            /></span>
            <br />
            <label for="description">Beschreibung:</label>
            <span class="requiredFields">
              <textarea
                id="description"
                name="description"
                rows="4"
                minlength="40"
                required
                placeholder="Beschreibung"
              ></textarea>
            </span>
            <br />
          </fieldset>
          <fieldset>
            <legend>Zeitliche Rahmenbedingungen</legend>
            <label for="duration">Dauer:</label>
            <input
              type="text"
              id="duration"
              name="duration"
              pattern="^([0-1][0-5]:[0-5][0-9])|(00:2[0-9])|(00:3[0-9])|(00:4[0-9])|(00:5[0-9])$"
              title="Die Dauer muss zwischen 00:20 und 15:59 liegen."
              required
              placeholder="Dauer"
            />
            <br />
            <label for="date">Veröffentlichung:</label>
            <span class="requiredFields">
              <input
                type="date"
                id="date"
                name="date"
                placeholder="01.01.2023"
              />
            </span>
            <br />
          </fieldset>
          <fieldset>
            <legend>Tutorial Inhalt</legend>
            <input type="radio" name="type" checked id="text-tutorial-type" />
            <span class="requiredFields"><label>Text-Tutorial</label> </span>
            <br />
            <input type="radio" name="type" id="video-tutorial-type" />
            <span class="requiredFields"><label>Video-Tutorial</label> </span>
            <br />
            <label for="content">Inhalt:</label>
            <span class="requiredFields">
            <input
              type="url"
              id="content"
              name="content"
              required
              placeholder="Geben Sie die URL hier ein"
            /></span>
            <br />
            <button type="submit">Absenden</button>
          </fieldset>
        </form>
      </main>
      <%- include('zusatzinformationen') %>
    </div>
    <%- include('fussbereich') %>
  </body>
</html>
