<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not Found</title>
  </head>
  <body>
    <header>
      <img src="../v0/img/bild1.png" alt="Logo für die Web-Anwendung" />
    </header>
    <nav>
      <a href="../v0/list.html">list.html</a>
      <a href="../v0/form.html">form.html</a>
      <a href="../v0/tutorial.html">tutorial.html</a>
      <a href="../v0/tutorials.html">tutorials.html</a>
    </nav>
    <main>
      <h2>Diese URL exisitiert nicht</h2>
      <p>Lieber Benutzer, diese Seite existiert leider nicht. Versuchen Sie eine andere URL.</p>
    </main>
  </body>
</html>
