<aside>
  <h3>Neue Tutorials</h3>
  <ul>
    <li>Node.js - Der schnelle Einstieg, 28.Sep.2025 - Dauer: 1Std 5 Min</li>
    <li>Node.js - Der schnelle Einstieg, 28.Sep.2025 - Dauer: 1Std 5 Min</li>
  </ul>
</aside>